
        <div class="container">
            <h3 class="main_head">TERMS OF USE</h3>
            <p class="align">As updated on 21.10.2020</p>

            <p>Thank You for using Saina Video Vision, Our App Saina Play, and/or Our
                Website,<a href="">www.sainaplay.com</a>(<em><strong>“We”</strong></em> or <em><strong> “Us”</strong></em> or <em><strong>“Platform”</strong></em> as the case may be).
                These terms and conditions of use (<em><strong>“Terms”</strong></em>) govern the use of Our Platform andthe content appearing on Our Platform(s) by all members of the Platform
                (<em><strong>“Users”</strong></em> or <em><strong>“You”</strong></em> or<em><strong>“Your”</strong></em> ). These Terms should be read concurrently with
                our Privacy Policy and such other policies as may be applicable from time to
                time <span class="span1">[links to be provided here]</span>(collectively the <em><strong>“Policies”</strong></em>).
                </p>

                <ol>
                    <li><h6> WHO WE ARE AND WHAT WE PROVIDE </h6>
                    <ol>
                        <li>This Platform is owned by Saina Infotainments Pvt Ltd 
                           having its registered office at Komath building, Komath line, Behind Dhanalakshmi Bank,
                           Palarivattom. P.O, Kochi 682025.    
                        </li>
                        <li>
                           We provide personalized service that assists you in discovering your best-
                           loved video content in the form of Malayalam movies including all features,
                           functionalities, reviews, recommendations (“Service”). Our Service can be
                           availed through internet on any internet-connected device. </li>
                          
                    </ol>
                    
                    </li>
              
                    <li><h6>YOUR LEGAL AGREEMENT WITH US</h6>
                    <ol>
                        <li>If You are using this Platform or Services provided in the Platform you are
                            legally bound by these Terms. If you do not agree to these Terms or our
                            Policies please refrain from using our Platform. 
                            
                           
                        </li>
                        <li>
                            Third party content on the Platform shall have their respective Terms and if
                            You are using third party content through our Platform, You shall also be
                            bound by the respective terms and policies stipulated by such third parties.  </li>
                          
                    </ol>
                    
                    </li>

                   <li><h6>AMENDMENTS:</h6></li> 
We may modify these Terms at our discretion (“Amendments”) without prior
notice to you. The modified Terms shall be updated on our Platform with the
date of latest revision. You are requested to keep checking these Terms to keep
yourself abreast about the Amendments made. Your use of the Platform shall be
governed by the latest Amendment made to the Terms. 
<li>WHO CAN USE
    <ol>
        <li> Only those persons who are eligible to contract legally (e.g. persons who are above 18 years of age, persons of sound mind etc.) can use the Platform.  </li>
<li>If you are part of any legal entity, you are to use this Platform only if you can
    represent and warrant that you are authorized to do so and have the
    authority to bind your legal entity to these Terms.</li>
<li>If You are a minor (below 18 years of age), Your use of this Platform shall
    mean that Your legal guardian has given You his/her implied consent. </li>
<li>Please note that we have the right to terminate Your membership on our
    Platform if We have reason to believe that you are in breach of any of our
    Terms or Policies or applicable laws. </li>
      
    </ol>
</li>
<li><h6>OUR SERVICES</h6>
    <ol>
        <li>Our Platform provides our members access to a wide range of Malayalam
movies. You will be able to search for your favourite movies and view them
on our Platform at your discretion.</li>
<li>Our Services are available only in the geographic locations where we offer
    them and where we have licensed the contents on our Platform. You may use
    our Platform in a number of devices depending upon your subscription plan.</li>

<li>The content on the Platform is updated frequently. </li>

<li>The time it takes to begin watching the content on our Platform will vary
    based on your location, available bandwidth at the time, the content you have
    selected and the configuration of your device. The videos available on our
    Platform are of varied quality and the display quality shall be varied from
    medium to medium.</li>
<li>Our software shall be different for each medium that You use to access our
    Platforms, which needs to be maintained as it is for your using of our
    Platforms. As and when the software is updated, it shall automatically be
    updated in your devices, without which your use of our Platforms may be
    hampered.  </li>
<li>You only have a limited, non-exclusive, revocable, non-assignable and non-
    transferable right and license to the non-commercial use of our Platform
    which is subject to Your strict compliance of Our Terms and Policies.  </li>
   
    </ol>
</li>
   <li> <h6>MEMBERSHIP AND REGISTRATION</h6></li>    
   <ol>
       <li>You can be a member of Our Platform if you have internet access, a device on
which our Platform is compatible with and pay us your membership fee. Wemay provide you a free trial before your membership is confirmed with us
(“Free Trial”). The free trial would be for 7 Days period and this is a promotion offer only so that members can truly experience the quality of our
Services and get convinced of taking a membership with Us. Free Trial is only provided upon Our discretion, which can be revoked at any time and for any
reason. You are prohibited from misusing Free Trial in any manner whatsoever.  </li>
<li>Subscription plans for accessing the Platform and availing the Services are
    available on the Platforms (“Subscription Plan”):
     Subscribe Now. 
    We may
    provide other membership plans from time to time including promotional
    plans. Membership plans will be on a monthly basis and payment for each
    month should be done to Us in the beginning of the month. We 
    may also
    provide Pay Per View model for watching contents from our platforms.</li>

<li>You may provide your membership fee (“Subscription Amount”) through
    any valid payment method which is acceptable to Us including payment
    through netbanking, VISA/MASTERCARD payments or any other mode
    which is available on our Platform. Your mode of payment shall be saved,
    with your consent, and the Subscription Amount shall be deducted
    automatically at the beginning of each month unless you terminate the
    Services before such deduction. Please note that depending on your payment
    method, other fees will be charged to your account over and above the
    Subscription Amount that is shown on our Platform. Local taxes depending
    upon your location shall also be charged over and above the Subscription
    Amount.</li>

<li>You shall remain responsible for any unpaid amount due to us. Unless
    payment is provided, we shall suspend your access to our Platform. We may
    change our Subscription Plans and the type of Subscription Plans any time.
    Any price changes to the Subscription Plans will apply only after give you
    prior notice of at least 30 days.</li>

   </ol>  
   <li><h6>USER NAME AND PASSWORD</h6></li>
   Upon your payment of Subscription Amount in accordance with our
   Subscription plan and providing Us all mandatory details including phone
   no. e-mail address etc., you shall be provided a user name and password. All
   the details provided by You shall be accurate and You shall be responsible for
   providing any incorrect information. You shall not be able to access Our
   Platforms without providing us all information accurately. 
   You may be required to change Your password in case of any suspicious
   activities upon our notification. Your registered account on Our Platform is
   personal to you and is non-transferable to any other person or entity.
   However, as mentioned above, with Your registered account, You may use
   our Platform in the number of devices as permitted by Your Subscription
   Plan
   <li> <h6>DISCLAIMERS</h6></li>
   <ol>
       <li>
       Our Services are provided on an ‘as is’ and ‘as available’ basis. Service may be
interrupted at times causing you to lose some data or the type of Service may
change from time to time or be discontinued or limited for any reason
(specifically to You or in general) without any risk or responsibility from Us.
Your Use of our Services shall be at your own risk. </li>
<li>It is Our goal to offer reliable quality of Services. However, We offer no
    guarantees or warranties and to the extent permitted by law, We disclaim all
    warranties, whether express or implied, including the implied warranties of
    merchantability, fitness for a particular purpose, title and non-infringement.
    No warranties are made that the Platform will be available on a consistent
    basis, that defects in the Platform will be corrected in a timely manner or that
    the Platform will be free of viruses or other harmful materials. </li>

<li>We are not liable to You or any third party (for any monetary or other
    damage suffered by You or such third party) owing to any omissions, errors,
    inaccuracies, delays, failures, interruptions, viruses, defects, deletions, failure
    in networks or communications lines, destruction, theft or unauthorized
    access to Your network, system or computer. </li>

<li>We shall have no responsibility or onus or liability over third party content
    available through the Platform. User discretion is advised on viewing
    contents available on the Platform.</li>

<li>We shall not be held responsible and expressly disclaim any liability
    whatsoever for any claims, demands or damages, direct or indirect, of every
    kind and nature, known and unknown, suspected and unsuspected, disclosed
    and undisclosed, arising out of or in any way connected with the Services.</li>

   </ol>
   <li><h6>TERMINATION OR SUSPENSION OF YOUR SERVICES:</h6></li>
   <ol>
       <li>You may cancel your membership at any time, and you will continue to have
        access to our Platform till the end of your chosen Subscription Plan. Please
        note no refunds shall be provided for cancellation in between a Subscription
        Plan period or for not using the Platform during the Subscription Plan period.
        To the extent permitted by the applicable law, payments are non-refundable
        and we do not provide refunds or credits for any partial-month membership
        periods or unwatched content. To cancel the account you may use the option
        of ‘delete account’ available on our Platforms. If you deactivate your account
        with Us or stop using our Services, You shall no longer be bound by these
        Terms, except your liability to Us with respect to our Intellectual Property
        Right related to the Platforms and Services.</li> 
       <li>We reserve our right to terminate your membership at our sole discretion.
        Any termination or suspension of Your account will not affect Your liability to
        Us</li>
        
   </ol>
   <li><h6>CONFIDENTIALITY</h6></li>
   You shall be responsible for maintaining the confidentiality of Your account with
Us. If You are made aware of any unauthorized use of your account, You shall
inform us immediately. 
<li>YOUR LIABILITY</li>
<ol>
    <li>You shall be responsible for the use of the Platforms and the Services
        provided. You should maintain control over your account on our Platforms
        and not reveal the password or details of the payment method associated
        with the account to anyone. </li>
       <li>
        You shall indemnify us for any loss incurred to Us due to any
        unauthorized use of Your account and/or breach of these Terms or caused by
        You in any other manner from Your use of the Platform or Services.</li>
</ol>
<li><h6>INTELLECTUAL PROPERTY RIGHTS:</h6></li>
<ol>
    <li>The content available on the Platform shall belong to third parties or
        Us. All Intellectual Property Rights (as defined below) shall belong to the
        respective parties whose name the Intellectual Property Right is indicated as
        belonging to.</li>
      <li>The Platform including its look and feel belongs to Us and we have all
        the Intellectual Property Rights associated with the Platform. </li>
      <li>No infringement of the Intellectual Property Rights pertaining to the
        Platform or the content available on the Platform is permitted. </li>
        <li>  You are also not allowed to access or tamper with non-public areas of
            Service, forge any TCP/IP packet header or any part of the header
            information or in any way use the Services to send altered, deceptive, or false
            source-identifying information interfere with, or disrupt, the access of any
            User, host, or network, including sending a virus, overloading, flooding,
            spamming, mail-bombing the Services and/or Platform(s), or by scripting the
            creation of content or accounts in such a manner as to interfere with or create
            an undue burden on the Services and/or Platform(s)</li>
      <li>   Use of any content and materials for any purpose not expressly
        permitted in these Terms or against applicable law, is prohibited.</li>
     <li>We are not liable for any infringement of Intellectual Property Rights
        by You. </li>
        <li>   You are not allowed to sell, license, rent, modify, distribute or re-
            distribute, copy, reproduce, transmit, publicly display, publicly perform,
            publish, adapt, edit, record or create derivative works from any materials or
            Content accessible through the Platform.</li>
    <li>   We are not responsible for the similarity of any of any content or
        programming in any media to materials or ideas transmitted to Us.</li>
     
     <li> The term Intellectual Property Rights shall mean and include all
        intellectual property rights whether registered or unregistered including all
        copyrights which shall include the exclusive right to make and distribute
        copies of, , display and perform the copyrighted work and to prepare works
        derived from the original copyrighted work), software and source codes,
        trademark rights, patent rights, trade names or business names,   design
        rights,  mask-work rights, trade secrets, moral rights, author’s rights, rights in
        packaging, goodwill and other intellectual property rights, and all renewals
        and extension thereof and all rights or forms of protection of a similar nature
        or having an equivalent or similar effect to any of the above, which may
        subsist anywhere in the world, regardless of whether any of such rights arise
        under the laws of India or any other state, country or jurisdiction.</li>
       
</ol>
<li><h6>RESPONSIBILITY OF USER:</h6></li>
<ol>
    <li>  User is responsible to follow all the norms of applicable law and
        standard decorum in using the Platform and Services. </li>
  
<li><ol>You shall not:
    <li>interfere with or disrupt the Platform or Services;</li>
<li>attempt to gain unauthorized access to any part of the Platform;</li>
    <li>
        disrupt or interfere with the security of the Platform;</li>
        <li>
            collect or store data about other users;
        </li>
<li>improperly use the Platform;</li>
<li>create or transmit unwanted electronic communications such as “spam,”
    to other users or members of the Platform or otherwise interfere with
    other users’ or members’ enjoyment of the Services;</li>
<li>disseminate, upload or transmit malicious or invasive code or program;</li>
<li>archive, reproduce, distribute, modify, display, perform, publish, license,
    create derivative works from, offer for sale, or use (except as explicitly
    authorized in these Terms of Use) content and information contained on
    or obtained from or through the Platforms;</li>
<li>circumvent, remove, alter, deactivate, degrade or thwart any of the content
    protections in the Platform;</li>
<li>use any robot, spider, scraper or other automated means to access the
    Platform or Services; </li>
<li>decompile, reverse engineer or disassemble any software or other
    products or processes accessible through the Platform;</li>
<li> use the Platform through any proxy servers or VPNs
    </li>
    <li>use the Platform for any illegal activities or against applicable laws.</li>

</ol>
</li>
<li>
We reserve the right at our sole discretion to investigate either by
ourselves  or using external  agencies  any  suspected  breach  of Your
responsibilities as a User as set out in this Clause 13 and/or to report
suspected illegal activities to law enforcement agencies having jurisdiction.</li>
</ol>
<li><h6>APPLICABLE LAW</h6></li>
These Terms and Policies are governed by the laws of India and the place of
jurisdiction shall be courts in Cochin, Kerala, India exclusively. We shall have
the right to institute proceedings against You in any other jurisdiction. 
<li><h6>MISCELLANEOUS:</h6></li>
<ol>
    <li>
    A failure to exercise or delay in exercising any right will not operate as
a waiver of that right. </li>
<li>
If any provision of these Terms is invalid or unenforceable in whole or
in part the remaining part of such provision and all other provisions of these
Terms shall continue to be in full force and effect.</li>
<li>
None of the provisions of these Terms shall be deemed to constitute a
partnership or agency between You and Us. </li>
<li>
Any notice issued under these Terms shall be presumed to have been
delivered, if 12 hours have passed after an e-mail with the notice is sent to the
e-mail address of the concerned party, unless the sending party is notified
that the e-mail address is invalid. Notices may also be given by certified mail,
postage prepaid to the last known address of the receiving party which was
available with the other party, which shall be effective once it is sent.</li>
<li>
You may contact us for any queries or for reporting any abuse of Our
Terms or Policies at
 info@sainainfotainments.com
. 
In the event of any conflict
between these Terms and information provided by our customer care team or
other portions of our website, these Terms will prevail.</li>
<li>
In accordance with Information Technology Act 2000 and rules made
there under,
the name and contact details of the Grievance Officer are
provided below:
    <p>Name: Aashiq Bava</p>
<p>E-mail id: aashiq@sainainfotainments.com.</p></li>
</ol>
</ol>
        </div>
   
