
.privacy-page {
    background-color: white;
    color: black;
    font-family: "Montserrat-Black";
    font-size: large;
    padding: 5% 5%;
    text-align: justify;
}

.text-aligns {
    text-align: right;
}

.heading {
    text-align: center;
}

p ol li{
    text-indent: 2px;
}
.main {
    font-weight: bolder;
}
h6 {
    font-weight: bold;
    text-decoration: underline;
    font-size: large;
}