<div class="privacy-page">

<h2 class="heading"> PRIVACY POLICY</h2>

<h6 class="text-aligns"> As updated on 21/10/2020 </h6>
<p> Thank You for using Saina Infotainments, Our App, Saina Play and/or Our Website, <a href="www.sainaplay.com "> www.sainaplay.com </a>
(<b><em> “We”</em> </b> or <b><em>“Us” </em> </b> or <b><em>“Platform” </em> </b>as the case may be). This PrivacyPolicy (“Policy”) governs the use of
 Our Platform and the content appearing on OurPlatform by all members of the Platform (<b><em>“Users”</em></b>  or <b><em>“You”</em></b>  or <b><em>
    “Your” </em></b>  ). These Terms should be read concurrently with our Terms of Use (the <b><em> “Terms”</em></b>).</p>

  <ol>
      <li>
          <h6>DEFINITIONS :</h6>
        
        <ol>
            <li>
                Information" shall mean any information You provide Us or give us access to inany form.
                 E.g. your details while registering with us, the videos you viewed etc. 
            </li>
            <li>
                “Personal Information” shall mean Information disclosed by or obtained from anyuser of the Platforms or
                 by using the Services. e.g. age, any other personal details capable of identifying You.
            </li>
            <li>
                Capitalized terms used here,
                 which are not defined here will have the samedefinition as that used in the Terms.
            </li>
        </ol>

      </li> 
      
      <li>
       <h6> PURPOSE   OF   THIS   POLICY   AND   WHY   WE   COLLECT   PERSONAL INFORMATION: 
      
    </h6>  <p>
        Your privacy is important to Us. This Policy will familiarize You with the manner inwhich We collect, use and disclose Your Personal Information. Your Personal 
        Information is collected to improve Your experience on the Platform and Servicesand to provide You Services which are specifically meant for You.
         We only collectinformation which is quite necessary for this purpose.
      </p>
      </li>
      <li>
          <h6>
        AMENDMENTS: </h6>
       <p> We may modify this Policy at our discretion (“Amendments”) without 
        prior notice toyou. The modified Policy shall be updated on our Platform with the date of latestrevision. You are requested to
         keep checking this Policy on the Platform to keepyourself abreast with the Amendments made. 
        </p>
        </li>
      <li>
       <h6> INFORMATION WE COLLECT: </h6>
        <ol>
            <li>
                <p>
                    You can browse the Platform without providing any Personal Information.However, other identifiable information including IP address and unique identifiersmay be tracked to help serve you the content on the
                     Platform better and keep trackof any bugs that may occur
                </p>
            </li>
            <li>
                We collect the following Information while you register with us:
<ol>
    <li>
        Profile information like Your name, address, social media profile link, inthe event you are using that to log onto the Platform

    </li>
    <li>
        Mobile no.
    </li>
    <li>
    Email address
    </li>
    <li>
        Device ID 
    </li>
    <li>
        Any communication between You and Us.  
    </li>
</ol>
            </li>
            <li>
                Other Information we collect are:

                <ol>
                    <li>
                        Location Information
                    </li>
                    <li>
                        Technical information with respect to the devices on which you are usingour Services including the date and time at which you are using ourServices, Your IP address and the type of browser being used.

                    </li>
                    <li>
                        Account  Information including purchase or redemption information,page-view and clicks information (including the videos which you havewatched), your activities on our Platforms or other information aboutyour interactions with businesses with which we operate co-brandedofferings

                    </li>

                </ol>
            </li>
            <li>
                We  may  also  track  certain   Information   based  upon   Your   behavior, acts,subscriptions and preferences on Our Platforms.

            </li>
        </ol>
        

      </li>
      <li>
          <h6>
HOW WE USE YOUR INFORMATION: </h6>
<ol>
    <li>
        Your Information, including Personal Information is used to:
        <ol>
            <li>
                facilitate Your use of the Platform/Service and provide You with informationabout the Platform/Service;

            </li>
            <li>
                provide You personalized content which may include advertisements;
            </li>
            <li>
                remember Information so that You need not re-enter it during Yoursubsequent visits;
            </li>

            <li>
                improve our Platforms and for internal research;
            </li>
            <li>
                fix technical problems, if any;
            </li>

            <li>
                automatically update Our App on Your devices;
            </li>
            <li>
                properly administer and protect the integrity of the Platform;
            </li>

            <li>
                take and handle orders, deliver products and services, process payments,and   communicate   with   you   about   orders,   products,   services,   andpromotional offers

            </li>
            <li>
                monitor metrics such as total number of visitors, traffic, and demographicpatterns;
            </li>

            <li>
                comply with applicable law.
            </li>
        </ol>
    </li>
    <li>
        Your Information and information from tools like cookies, log files, and deviceidentifiers and location data is shared with third-party service providers on a needto know basis.

    </li>
    <li>
        We may share any Information with others to help detect and prevent identity theft,fraud and other potentially illegal acts. 


    </li>
    <li>
        We might process your Personal Information for additional purposes that are notmentioned here, but are compatible with the original purpose for which the datawas gathered. We will inform you of any further processing of Your Information.

    </li>
    <li>
        If We sell or otherwise transfer part or the whole of the Platform to anotherorganization Your Information may be among the items sold or transferred for thesole purpose of continuing the operation of the Services and the Platform, and onlyif the recipient of the Personal Information commits to a privacy policy that hasterms substantially consistent with this Policy.

    </li>
    <li>
        We may disclose Your Information to the extent such disclosure is reasonablynecessary to enforce Our Terms of Use or Our other policies and in order to respondto claims of any other user or third-party.

    </li>
    <li>
        For the list of our partners, please click here : <a href="www.sainavideo.com"> www.sainavideo.com</a>
    </li>
    <li>
        For the list of our advertisers, please click here : <a href="www.sainavideo.com"> www.sainavideo.com </a>

    </li>
</ol>
      </li>
      <li>
          <h6>
        DISCLAIMERS: </h6>
        <ol>
            <li>
                Although We use industry standard practices to protect Your privacy, no method oftransmission over the Internet, or method of electronic storage, is one hundredpercent secure.Please contact us if You believe Your Information is compromised. Ifwe learn of a security systems breach, we will inform You and the authorities of theoccurrence of the breach in accordance with applicable law.

            </li>
            <li>
                Your Information may be stored and processed in India or any other country inwhich We provide Services.
            </li>
            <li>
                We use commercially reasonable safeguards to help keep the Information collectedthrough the Platform secure and take reasonable steps (such as requesting a uniquepassword) to verify Your identity before granting You access to Your account.However, We cannot ensure the security of any Information You transmit on thePlatform or guarantee that Information on the Platform may not be accessed,disclosed, altered, or destroyed.

            </li>
            <li> When You access Our Platforms, We offer the use of a secure server. The secureserver software (SSL) encrypts all Information You put in before it is sent to Us.
            </li>
        </ol>
      </li>
      <li>
          <h6>
        COOKIES: </h6>
        <ol>
            <li>
                We use "cookies" and “cache” (collectively, “Cookies”) on certain pages of thePlatform to help analyse Our web page flow, measure promotional effectiveness,and to enhance Your experience on Our Platform only. A cookie is a tiny text filestored on your device which stores information and helps sites work. We do notuse cookies to collect any of your personal information.

            </li>
            <li>
                We use cookies for the following purposes:
                <ol>
                    <li>
                        To log in which will not to collect any Information;
                    </li>
                    <li>
                        To provide you personalized Services;
                    </li>
                    <li>
                        To track the performance and use of our Platform; 
                    </li>
                </ol>
            </li>
        </ol>
      </li>
      <li>
        HOW LONG DO WE KEEP YOUR INFORMATION:
        <ol>
            <li>
                We may retain certain Personal Information, after Your account is deactivated, for areasonable time for backup, archival, audit and/or legal purposes.

            </li>
            <li>
                We may as we feel appropriate either delete Your Personal Information or de-identify it so that it is not attributed to You. 

            </li>
            <li>
                You may contact Us for erasing Your Personal Information or for restriction ofprocessing Your Information

            </li>

        </ol>
      </li>
<li>
    MISCELLANEOUS:
    <ol>
        <li>
            We do not knowingly collect any Information from children(persons aged below 18years).
        </li>
        <li>
            In accordance with Information Technology Act 2000 and rules made there under,the name and contact details of the Grievance Officer are provided below:
            <p>
                Name: Aashiq Bava 
            </p>
            <p>
                E-mail id: aashiq@sainainfotainments.com
            </p>
        </li>
        <li>
            
               You may contact Us at :
               <p> Saina infotainment Pvt Ltd, Komath building, Komath line, Behind DhanalakshmiBank, Palarivattom. P.O, Kochi 682025
            </p>
        </li>
    </ol>
</li>
  </ol>

</div>