
<body class="launch-page">

    <section id="title">
  
      <div class="container-fluid">
  
        <!-- Nav Bar -->
  
        <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar-shrink">
  
          <a class="navbar-brand" href=""><img src="assets/logo.png" alt=""></a>
  
        </nav>
  
  
        <!-- Title -->
  
        <div class="row">
  
          <div class="col-lg-6">
            <h1 class="big-heading">Saina Play is the world’s leading subscription service for watching regional Indian movies on your favourite device..</h1>
           <br> <h5>We have been serving the Malayalam film industry for last 35 years</h5>
          </div>
  
          <!-- <div class="col-lg-6">
              <img src="assets/device.png" alt="device-image" class="device-image">
            <img class="title-image" src="assets/demo-screen-1.jpg" alt="demo-image">
          </div> -->
          <div class="device-container col-lg-6">
            <div class="device-mockup iphone6_plus portrait white">
              <div class="device">
                <div class="screen">
                  <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                  <img src="assets/demo-screen-1.jpg" class="img-fluid" alt="">
                </div>
                <div class="button">
                  <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                </div>
              </div>
            </div>
          </div>
  
        </div>
  
      </div>
  
    </section>
  
    <section class="white-section" id="features">
  
      <div class="container-fluid">
  
        <div class="row">
          <div class=" col-md-12">
            <h2>Discover more about Saina TV app !</h2>
            <p>Coming soon in Android and iOS</p>
  
            <div class="badges">
              <a href=""><img src="assets/app-store-badge.svg" alt=""></a>&nbsp;
              <a href=""><img class="google" src="assets/google-play-badge.svg" alt=""></a>
            </div>
  
          </div>
  
        </div>
      </div>
    </section>
  
   
  
  </body>
   <!-- Footer -->
  
    <!-- <footer class="white-section" id="footer"> -->
        <footer id="footer">
            <div class="container-fluid">
              <a href="#" class="fa fa-facebook"></a>
              <a href="#" class="fa fa-youtube"></a>
              <a href="#" class="fa fa-twitter"></a>
            </div> <br>
            <div class="container">
              <p id="footer_p">&copy; saina 2020. All Rights Reserved</p>
            </div>
              <div class="container  footer-text">
              <a href="">About</a> &nbsp;
              <a routerLink="privacy_policy">Privacy Policy</a>&nbsp;
              <a routerLink="terms_and_conditions">Terms of Use</a>&nbsp;
              <a href="">Cookies Policy</a>&nbsp;
            </div>
            
            
          </footer>

